.task {
  max-width: 250px;
  background-color: #fff;
  margin-bottom: 8px;
  padding: 4px 8px 4px 12px;
  display: flex;
  border-radius: 20px;
  .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    position: relative;
    padding: 4px 8px;
    border-radius: 8px;
    min-height: 30px;

    input {
      border-radius: 8px;
      appearance: none;
      position: relative;
      width: 30px;
      height: 30px;
      transition: background-color 0.5s;
      border: 1px solid black;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transition: all 0.5s;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transition: all 0.5s;
      }

      &.done {
        border: none;
        background: linear-gradient(
          90deg,
          rgba(9, 255, 0, 1) 0%,
          rgba(49, 255, 41, 1) 50%,
          rgba(91, 255, 85, 1) 100%
        );

        &:before {
          transform: translate(-50%, -50%) translate(-4px, 3px) rotate(45deg);
          width: 12px;
          height: 5px;
          border-radius: 4px;
        }

        &:after {
          transform: translate(-50%, -50%) translate(3px, 2px) rotate(-45deg);
          width: 16px;
          height: 5px;
          border-radius: 4px;
        }
      }
      &.failed {
        cursor: unset;
        border: none;
        background: linear-gradient(
          90deg,
          rgba(255, 85, 85, 1) 0%,
          rgba(255, 25, 25, 1) 50%,
          rgba(255, 0, 0, 1) 100%
        );

        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
          width: 20px;
          height: 5px;
        }

        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
          width: 20px;
          height: 5px;
        }
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    p {
      font-size: 14px;
    }
  }
}
